/* Container and Card Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #e6f2ff; /* Light blue background */
  padding: 20px;
}

.main-heading {
  font-size: 2.5em;
  color: #333333;
  margin-bottom: 20px;
}

.obituary-card {
  background-color: #ffffff; /* White background for the card */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px; /* Make the container wider */
  text-align: center;
}

/* Image Section Styles */
.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image-frame {
  display: inline-block;
  padding: 8px;
  border: 5px solid #1e1e1e; /* Green border for the frame */
  border-radius: 50%;
  margin: 0 10px;
}

.side-lamp {
  width: 50px;
  height: 50px;
}

.obituary-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Text Styles */
.occasion-title {
  font-size: 1.8em;
  color: #333333; /* Darker text color */
}

.occasion-subtitle {
  font-size: 1.5em;
  color: #555555; /* Slightly lighter text color */
  margin-bottom: 10px;
}

.obituary-dates {
  color: #666666; /* Grey text color */
  margin-top: 5px;
  margin-bottom: 20px;
}

.obituary-text {
  margin-top: 20px;
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
  color: #333333; /* Darker text color */
}

/* Button Styles */
.buttons {
  margin-top: 20px;
}

.live-button,
.call-button,
.viber-button,
.condolences-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25em;
}

.call-button {
  background-color: #4caf50; /* Green background */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-button {
  background-color: #af4c4c; /* Red background */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viber-button {
  background-color: #8a2be2; /* Purple background */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.condolences-button {
  background-color: #008cba; /* Blue background */
  color: white;
}

.live-button:hover,
.call-button:hover,
.viber-button:hover,
.condolences-button:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

/* Flower Animation Styles */
.flower {
  position: absolute;
  top: -50px;
  width: 20px;
  height: 20px;
  background-image: url('/public/flower.png');
  background-size: cover;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
